%h1 Last Withdrawals
%p
  %table.table
    %thead
      %tr
        %th Created At
        %th Transaction
        %th Result
    %tbody
      - @sendmanies.each do |sendmany|
        %tr
          %td= l sendmany.created_at, format: :short
          %td= link_to sendmany.txid, "https://blockchain.info/tx/#{sendmany.txid}", target: '_blank'
          %td= sendmany.is_error ? "Error" : "Success"
