app_host: 'tip4commit.com'

github:
  key: "111111111111"
  secret: "111111111111"
  auto_paginate: false
  pages: 3
  project_pages:
    "torvalds/linux": 30

bitcoind:
  rpc_connection_string: https://user:password@rpc.blockchain.info:443
  account: 1M4bS4gPyA6Kb8w7aXsgth9oUZWcRk73tQ

devise:
  secret: "111111111111"

application:
  secret: "111111111111"

smtp_settings:
  address:              smtp.gmail.com
  port:                 587
  domain:               foobar.com
  user_name:            example@foobar.com
  password:             MY_PASSWORD
  authentication:       plain
  enable_starttls_auto: true

# Uncomment to use airbrake/errbit

# airbrake:
#   api_key: 111111111111
#   host: errbit.tip4commit.com

tip: 0.01
min_payout: 100000
our_fee: 0.01
min_tip: 50000 # optional

deposit_address: 1M4bS4gPyA6Kb8w7aXsgth9oUZWcRk73tQ

# Can be testnet or mainnet
network: mainnet
