name: Build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version:
          - 2.7.7
          # - 3.0.5 # TODO: Upgrade to Rails 6
      fail-fast: false

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Ruby ${{ matrix.ruby-version }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true

    - name: Install dependencies
      run: |
        bundle config set without 'development'
        bundle config path vendor/bundle
        bundle install --jobs=9 --retry=2 --quiet

    - name: Setup test database
      run: |
        cp config/config.yml.sample config/config.yml
        cp config/database.yml.sample config/database.yml
        bin/rails db:migrate RAILS_ENV=test

    - name: Rubocop
      run: |
        bundle exec rubocop

    - name: Run RSpec
      run: |
        bundle exec rake spec

    - name: Run Cucumber
      run: |
        bundle exec rake cucumber
